.about-semi {
    padding: 20px;
  }
  .about-semi h1 {
    font-size: 44px;
    margin-bottom: 50px;
  }
  .about-section{
    margin-left: 100px;
  }
  .about-text h2 {
    margin-right: 850px;
    font-size: 20px;
    margin-bottom: 25px;

  }
  .about-text p {
    font-size: 18px;
    padding-left:45px ;
    width: 800px;
    text-align: left;
  }
  .about-image Img {
    margin-right: 400px;
    padding-top: 50px;
    width: 750px;
    height: 400px;
   
  }