.receptionist {
    padding: 10px;
  }
  
  .receptionist h1 {
    font-size: 44px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: -20px;
    
  }
  .fluid {
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: width 1s

  }
  
  
  .message {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: -1px;
    width: 850px;
   
    text-align: left;
   
  }
  .message h4 {
    font-size: 20px;
    padding: 10px;
    margin-left: -19px;
    padding-bottom: 40px;
    margin-top: 10px;
    margin-bottom: -30px;
  }
  
  .message h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: -10px;
    margin-bottom: 10px;
    
  }
  
  .message p {
    font-size: 16px;
    margin-right: 40px;
  }